In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    "ID": [1, 2, 3],
    "quiz": [5, 6, 7]
})

In [8]:
df

   ID  quiz
0   1     5
1   2     6
2   3     7

In [16]:
df.iloc[0, :] = 11, 11
df

   ID  quiz
0  11    11
1   2     6
2   3     7

In [17]:
print(df)

   ID  quiz
0  11    11
1   2     6
2   3     7

In [22]:
df2 = pd.DataFrame({
    "ID": [1, 2, 3]
})

In [24]:
df2

   ID
0   1
1   2
2   3

In [23]:
for i, j, in df2:
    print(i)
    print(j)

I
D

In [25]:
import numpy as np

In [26]:
level_name = ["初級編", "中級編", "上級編"]

In [27]:
for i, j in enumerate(level_name):
    print(i)
    print(j)

0
初級編
1
中級編
2
上級編

In [1]:
import streamlit as st
from supabase import create_client, Client

url = st.secrets["supabase"]["url"]
key = st.secrets["supabase"]["key"]
supabase = create_client(url, key)

# データの書き込み
def write_score(name, score):
    data = {"name": name, "score": score}
    response = supabase.table("scores").insert(data).execute()
    return response

name = st.text_input("名前を入力して")
score = st.number_input("スコアを入力して", min_value=0)

write_score(name, score)

2025-05-18 16:33:13.740 WARNING streamlit.runtime.state.session_state_proxy: Session state does not function when running a script without `streamlit run`
2025-05-18 16:33:14.109
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\oyama\anaconda3\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

APIError: {}

In [ ]:
[1, 2, 3]

[1, 2, 3]